export(DelayedSurvFit, rmst, SurvFn, rrml, DelayedHazFit, AvgHazardRatios)
importFrom("graphics", "abline", "legend", "lines", "plot")
importFrom("stats", "cutree", "dist", "hclust", "median", "pnorm", "stepfun")
importFrom("survival", "Surv", "survfit")
importFrom("Dykstra", "dykstra")
importFrom("nloptr", "slsqp")
S3method("plot","surv.delay")
